# Neon Postgres - https://console.neon.tech dan oling
# Pooled endpoint (app uchun) — Neon console → Connection Details → "Pooled connection" toggle
DATABASE_URL="postgresql://user:password@ep-xxxxx-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&pgbouncer=true&connection_limit=10"
# Direct endpoint (migration/prisma db push uchun) — Neon console → Connection Details → "Direct connection"
DIRECT_URL="postgresql://user:password@ep-xxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="bu-yerga-random-secret-yozing"

# Keyingi bosqichlarda qo'shiladi
# NEXT_PUBLIC_APP_URL="http://localhost:3000"
